[submodule ".registry"]
	path = .registry
	url = https://github.com/remlapmot/remlapmot.r-universe.dev
	branch = HEAD
[submodule "OneSampleMR"]
	path = OneSampleMR
	url = https://github.com/remlapmot/OneSampleMR
[submodule "SASmarkdown"]
	path = SASmarkdown
	url = https://github.com/Hemken/SASmarkdown
[submodule "Statamarkdown"]
	path = Statamarkdown
	url = https://github.com/Hemken/Statamarkdown
[submodule "StepReg"]
	path = StepReg
	url = https://github.com/remlapmot/StepReg
	branch = no-xlsx
[submodule "TrialEmulation"]
	path = TrialEmulation
	url = https://github.com/Causal-LDA/TrialEmulation
[submodule "TwoSampleMR"]
	path = TwoSampleMR
	url = https://github.com/MRCIEU/TwoSampleMR
	branch = v0.6.30
[submodule "bpbounds"]
	path = bpbounds
	url = https://github.com/remlapmot/bpbounds
[submodule "colorout"]
	path = colorout
	url = https://github.com/jalvesaq/colorout
[submodule "dd4d"]
	path = dd4d
	url = https://github.com/wjchulme/dd4d
	branch = 291283fd0620d458584108b05d9237104e060c31
[submodule "httpgd"]
	path = httpgd
	url = https://github.com/nx10/httpgd
[submodule "ieugwasr"]
	path = ieugwasr
	url = https://github.com/MRCIEU/ieugwasr
	branch = v1.1.0
[submodule "knitexercise"]
	path = knitexercise
	url = https://github.com/remlapmot/knitexercise
[submodule "osutils"]
	path = osutils
	url = https://github.com/wjchulme/osutils
[submodule "quarto"]
	path = quarto
	url = https://github.com/quarto-dev/quarto-r
	branch = v1.5.1
[submodule "quickdag"]
	path = quickdag
	url = https://github.com/jrgant/quickdag
[submodule "tmsens"]
	path = tmsens
	url = https://github.com/dea-hazewinkel/tmsens
[submodule "vscDebugger"]
	path = vscDebugger
	url = https://github.com/ManuelHentschel/vscDebugger
