[submodule ".registry"]
	path = .registry
	url = https://github.com/remlapmot/remlapmot.r-universe.dev
	branch = HEAD
[submodule "MRInstruments"]
	path = MRInstruments
	url = https://github.com/mrcieu/MRInstruments
	registered = false
[submodule "MRMix"]
	path = MRMix
	url = https://github.com/gqi/MRMix
	registered = false
[submodule "MRPRESSO"]
	path = MRPRESSO
	url = https://github.com/rondolab/MR-PRESSO
	registered = false
[submodule "OneSampleMR"]
	path = OneSampleMR
	url = https://github.com/remlapmot/OneSampleMR
[submodule "RadialMR"]
	path = RadialMR
	url = https://github.com/WSpiller/RadialMR
	registered = false
[submodule "SASmarkdown"]
	path = SASmarkdown
	url = https://github.com/Hemken/SASmarkdown
[submodule "Statamarkdown"]
	path = Statamarkdown
	url = https://github.com/Hemken/Statamarkdown
[submodule "StepReg"]
	path = StepReg
	url = https://github.com/remlapmot/StepReg
	branch = no-xlsx
[submodule "TrialEmulation"]
	path = TrialEmulation
	url = https://github.com/Causal-LDA/TrialEmulation
[submodule "TwoSampleMR"]
	path = TwoSampleMR
	url = https://github.com/MRCIEU/TwoSampleMR
	branch = v0.6.20
[submodule "bpbounds"]
	path = bpbounds
	url = https://github.com/remlapmot/bpbounds
[submodule "colorout"]
	path = colorout
	url = https://github.com/jalvesaq/colorout
[submodule "dd4d"]
	path = dd4d
	url = https://github.com/wjchulme/dd4d
[submodule "ieugwasr"]
	path = ieugwasr
	url = https://github.com/MRCIEU/ieugwasr
	branch = v1.1.0
[submodule "knitexercise"]
	path = knitexercise
	url = https://github.com/remlapmot/knitexercise
[submodule "mr.raps"]
	path = mr.raps
	url = https://github.com/qingyuanzhao/mr.raps
	registered = false
[submodule "mrbayes"]
	path = mrbayes
	url = https://github.com/okezie94/mrbayes
[submodule "osutils"]
	path = osutils
	url = https://github.com/wjchulme/osutils
[submodule "quarto"]
	path = quarto
	url = https://github.com/quarto-dev/quarto-r
	branch = v1.5.0
[submodule "quickdag"]
	path = quickdag
	url = https://github.com/jrgant/quickdag
[submodule "rsnps"]
	path = rsnps
	url = https://github.com/ropensci/rsnps
	registered = false
[submodule "tmsens"]
	path = tmsens
	url = https://github.com/dea-hazewinkel/tmsens
[submodule "vscDebugger"]
	path = vscDebugger
	url = https://github.com/ManuelHentschel/vscDebugger
