[submodule ".registry"]
	path = .registry
	url = https://github.com/remlapmot/remlapmot.r-universe.dev
	branch = HEAD
[submodule "bpbounds"]
	path = bpbounds
	url = https://github.com/remlapmot/bpbounds
[submodule "knitexercise"]
	path = knitexercise
	url = https://github.com/remlapmot/knitexercise
[submodule "OneSampleMR"]
	path = OneSampleMR
	url = https://github.com/remlapmot/OneSampleMR
